# rename this file to .env and fill in the values
PORT=4000
DATABASE_URL=postgresql+asyncpg://ems_user:yourpassword@db:5432/employee_management
TEST_DATABASE_URL=postgresql+asyncpg://ems_user:yourpassword@db:5432/employee_management_test
JWT_SECRET_KEY=changeme-generate-a-real-secret

# To generate a real JWT_SECRET_KEY when setting up an actual .env from this template:

# bash
# python3 -c "import secrets; print(secrets.token_hex(32))"

JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60